.benefits {
  position: relative;
  background: $--color-light-grey;
}

.benefits .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 105px auto;
  max-width: 1124px;
}

.benefits .container {
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

  }
}

.benefits article h3 {

  text-align: left;
  font: normal normal normal 36px/42px Raleway;
  letter-spacing: 0;
  color: $--color-black;
  opacity: 1;
  @include mobile {
    text-align: center;
    width: 100%;
  }
}

.benefits article p {
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0;
  color: $--color-black;
  opacity: 1;
  @include mobile {
    padding: 12px 36px;
    text-align: center;
  }
}


.benefits-article-01 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 24px;
  background: $--color-white;
}

.benefits-article-01 {
  @include mobile {
    flex-direction: column-reverse;
    width: 90vw;
    margin: 12px 24px 12px 24px;
  }
}

.benefits-article-01-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 416px;
  margin-top: 91px;
  margin-left: 35px;
  @include mobile {
    position: relative;
    width: 100%;
    padding: 24px;
    margin: 0 auto;
  }
}

.benefits-article-01-content::before {
  content: " ";
  position: absolute;
  background: $--color-redish;
  bottom: 0;
  width: 328px;
  border: 2px solid $--color-redish;
  opacity: 1;
  @include mobile {
    display: none;
  }
}

.benefits-article-01-content > h3 {
  display: block;
  margin-bottom: 30px;
}

.benefits-article-01-img {
  position: relative;
  width: 433px;
  height: 294px;
  margin-top: 38px;
  margin-right: 71px;
  @include mobile {
    transform: scale(0.6);
    margin: 12px auto;
  }
}

.benefits-article-01-img::before {
  content: " ";
  position: absolute;
  right: 40px;
  top: 35px;
  width: 180px;
  height: 180px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  background: $--color-redish 0 0 no-repeat padding-box;
  border-radius: 41px;
  opacity: 1;

}

.benefits-article-01-img > img {
  position: absolute;
  top: 75px;
  width: 387px;
  height: 219px;
}

.benefits-article-02 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 35px;
  background: $--color-white;
}

.benefits-article-02 {
  @include mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    margin: 12px 24px;
  }
}

.benefits-article-02-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 416px;
  height: 230px;
  margin-top: 69px;
  margin-right: 20px;
  @include mobile {
    position: relative;
    width: 100%;
    margin-top: 12px;
    padding: 12px 24px;
    height: auto;
  }
}

.benefits-article-02-img {
  position: relative;
  margin-left: 70px;
  margin-top: 29px;
  width: 426px;
  height: 328px;
  @include mobile {
    transform: scale(0.6);
    margin: 12px auto;
  }
}

.benefits-article-02-img::before {
  content: " ";
  position: absolute;
  width: 320px;
  height: 320px;
  top: -20px;
  border-radius: 50%;
  background: #07ACE6 0 0 no-repeat padding-box;
  opacity: 1;
  z-index: 0;

}

.benefits-article-02-img > img {
  position: relative;
  width: 426px;
  height: 328px;
  z-index: 1;
}

.benefits-article-02-content::after {
  content: " ";
  position: absolute;
  background: $--color-primary;
  bottom: 0;
  width: 328px;
  border: 2px solid $--color-primary;
  opacity: 1;
  @include mobile {
    display: none;
  }
}

.benefits-article-02-content h3 {
  width: 246px;
}

.benefits-article-02-content p {
  margin-top: 30px;
}

.benefits-article-03 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 370px;
  margin-top: 37px;
  background: $--color-light-grey;
  @include mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 90vw;
    padding-top: 24px;
    margin: 12px 24px;
    background: $--color-white;
  }
}

.benefits-article-03-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 623px;
  height: 100%;
  background: $--color-white;
}

.benefits-article-03-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  width: 554px;
  height: 230px;
  @include mobile {
    width: 90vw;
    height: auto;
  }
}

.benefits-article-03-container::before {
  content: " ";
  position: absolute;
  background: $--color-green;
  bottom: 0;
  width: 328px;
  border: 2px solid $--color-green;
  opacity: 1;
  @include mobile {
    display: none;
  }
}

.benefits-article-03-container p {
  display: block;
  margin-bottom: 44px;
  @include mobile {
    width: 100%;
  }
}

.benefits-article-03-img-container {
  position: relative;
  width: 440px;
  height: 370px;
  background: $--color-green;
  @include mobile {
    width: 100%;
  }
}

.benefits-article-03-img-container > img {
  position: absolute;
  width: 295px;
  top: 98px;
  left: 62px;
  height: 207px;
}

